header {
  position: relative;
  padding: 10px 0;
  margin-bottom: 50px;

  h1 {
    display: inline-block;

    a {
      color: inherit;
    }
  }

  nav {
    position: absolute;
    right: 0;
    bottom: 10px;

    a {
      text-transform: uppercase;
      color: inherit;
      font-weight: 900;
      font-size: 1.75em;

      &.active {
        border-bottom: 0.1em solid $white;
      }
    }

    ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        position: relative;
        margin: 0 15px;
        padding: 0;

        & > ul {
          width: 100%;
          position: absolute;
          background-color: $white;
          color: $black;
          font-size: 0.7em;
          max-height: 0px;
          overflow: hidden;
          transition: max-height 1s;

          li {
            margin: 0;
            padding: 5px 10px;

            &:hover {
              color: $red;
            }
          }
        }

        &:hover {
          color: $black;

          & > ul {
            max-height: 250px;
          }
        }
      }
    }
  }
}

nav.language {
  position: fixed;
  left: 5px;
  top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
}

nav.language a {
  color: inherit;
  padding: 0 5px;
  margin-left: -5px;
  border-right: 2px solid #000;
}

nav.language a.active {
  color: #FFF;
}

nav.language a:last-of-type {
  border-right: none;
}
