header {
  position: relative;
  padding: 10px 0;
  margin-bottom: 50px;

  h1 {
    display: inline-block;

    a {
      color: inherit;
    }
  }

  nav {
    position: absolute;
    right: 0;
    bottom: 10px;

    a {
      text-transform: uppercase;
      color: $white;
      font-weight: 900;
      font-size: 1.75em;
      margin: 0 15px;

      &.active {
        border-bottom: 0.1em solid $white;
      }
    }
  }
}

nav.language {
  position: fixed;
  left: 5px;
  top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
}

nav.language a {
  color: inherit;
  padding: 0 5px;
  margin-left: -5px;
  border-right: 2px solid #000;
}

nav.language a.active {
  color: #FFF;
}

nav.language a:last-of-type {
  border-right: none;
}
