.post {
  background-color: $white;
  color: $black;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba($black, 0.2);
  padding: 40px 20px;
  font-weight: 300;
  margin: 50px 0;

  .date, .author {
    float: right;
    font-weight: 600;
  }
}
