*, *:after, *:before {
  box-sizing: border-box; }

body {
  margin: 0;
  position: relative;
  background: #ed1c24;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  padding: 10px 5%;
  padding-bottom: 150px; }

a {
  color: #111;
  text-decoration: none; }

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  margin: 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.5em; }

span.black {
  color: black; }

::selection {
  background: #ed1c24;
  /* WebKit/Blink Browsers */
  opacity: 1;
  z-index: 10; }

::-moz-selection {
  background: #ed1c24;
  /* Gecko Browsers */ }

.main {
  margin: 0 auto;
  max-width: 45em; }

header {
  position: relative;
  margin-bottom: 50px; }
  header h1 {
    display: inline-block; }
    header h1 a {
      color: inherit; }
  header nav {
    position: absolute;
    right: 0;
    bottom: 0; }
    header nav a {
      text-transform: uppercase;
      color: #fff;
      font-weight: 900;
      font-size: 1.75em;
      margin: 0 15px; }
      header nav a.active {
        border-bottom: 0.1em solid #fff; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111;
  padding: 5px 5%; }
  footer a {
    color: #ed1c24; }

.post {
  background-color: #fff;
  color: #111;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(17, 17, 17, 0.2);
  padding: 40px 20px;
  font-weight: 300;
  margin: 50px 0; }
  .post .date, .post .author {
    float: right;
    font-weight: 600; }
