<!DOCTYPE html>{% if page.lang %}{% assign lang = page.lang %}{% else %}{% assign lang = 'de' %}{% endif %}{% assign t = site.data.translations[lang] %}
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ t.site.description }}{% endif %}">
    <meta name="keywords" content="welcome, willkommen, refugee, flüchtlinge, flüchtling, syrien, deutschland, anlaufstelle, information">

    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ site.social_media_img }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ t.site.description }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:see_also" content="{{ site.url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ t.site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.social_media_image }}">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/mstile-310x310.png" />

    <link rel="stylesheet" href="/css/style.css" type="text/css" >
  </head>
  <body>
    <nav class="language">
      <a href="{{ site.baseurl }}" {% if lang == 'de' %}class='active'{% endif %}>DE</a>
      <a href="{{ site.baseurl }}en" {% if lang == 'en' %}class='active'{% endif %}>EN</a>
    </nav>

    <header>
      <h1><a href="/{% if lang != 'de' %}{{ lang }}{% endif %}"><span><span class="hashtag black">#</span><span class="welcome">welcome</span></span><span class="black">the</span><span class="refugees">refugees</span></a></h1>

      <!--<nav>
        <a href="#">Blog</a>
        <a href="#">{{ t.navigation.information }}</a>
      </nav>-->
    </header>

    <section class="main">
      {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
      {{ content }}
    </section>

    {% include layout/footer.html t=t %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
